<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <!-- ======================header started====================== -->

   <header>
       <div class="my-nav">
           <div class="container">
               <div class="row">
                   <div class="nav-items">
                       <div class="menu-toggle"></div>
                       <div class="logo">
                           <img src="assets/images/logo-01.png">
                       </div>
                       <div class="menu-items">
                           <div class="menu">
                               <ul>
                                   <li><a href="index.html">Home</a></li>
                                   <li><a href="about-us.html">About Us</a></li>
                                   <li><a href="services.html">Services</a></li>
                                   <li><a href="blog.html">Blog</a></li>
                                   <li><a href="contact-us.html">Contact Us</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </header>

   <section class="bg-02-a">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="_head_01">
                        <h2>Services</h2>
                        <p>Home<i class="fas fa-angle-right"></i><span>Services</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-02">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        <h2>Featured courses</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam quo, ducimus aliquid quisquam minima perspiciatis repellendus, minus tenetur reiciendis quis? Consequatur perferendis deleniti, rerum delectus consectetur modi praesentium deserunt.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-box">
                        <div class="feature-card">
                            <a href="#"><i class="far fa-link"></i></a>
                            <img src="assets/images/featured/1.jpg">
                        </div>
                        <div class="content">
                          <h3>MBA</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                          <ol>
                              <li>3 Year Course</li>
                              <li>100 Clasess</li>
                              <li>10 am - 1 pm</li>
                          </ol>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="assets/images/featured/2.jpg">
                      </div>
                      <div class="content">
                        <h3>BE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="assets/images/featured/3.jpg">
                      </div>
                      <div class="content">
                        <h3>ME</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="assets/images/featured/4.jpg">
                      </div>
                      <div class="content">
                        <h3>MBBS</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="assets/images/featured/5.jpg">
                      </div>
                      <div class="content">
                        <h3>MSC</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="assets/images/featured/6.jpg">
                      </div>
                      <div class="content">
                        <h3>MA</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>


    <!-- ====================== section started====================== -->

    <section class="bg-01">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="se-box">
                        <div class="icon">
                           <i class="fal fa-chalkboard-teacher"></i>
                        </div>
                        <div class="content">
                            <h3>Professional Teachers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-globe-americas"></i>
                       </div>
                       <div class="content">
                           <h3>Learn Anywhere Online</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-graduation-cap"></i>
                       </div>
                       <div class="content">
                           <h3>Graduation Certificate</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-backpack"></i>
                       </div>
                       <div class="content">
                           <h3>Over 1000 Scholarship</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </section>

     <!-- ====================== Featured started====================== -->

     <section class="bg-03">
         <div class="container">
             <div class="row">
               <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                   <div class="_lk_bg_cd">
                       <i class="fal fa-history"></i>
                     <div class="counting" data-count="967">100</div>
                     <h5>YEAR OF HISTORY</h5>
                   </div>
               </div>

               <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                   <div class="_lk_bg_cd">
                       <i class="fal fa-graduation-cap"></i>
                     <div class="counting" data-count="967">100</div>
                     <h5>ACTIVE STUDENTS</h5>
                   </div>
               </div>

               <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                   <div class="_lk_bg_cd">
                       <i class="fal fa-globe"></i>
                     <div class="counting" data-count="967">100</div>
                     <h5>ONLINE COURSES</h5>
                   </div>
               </div>

               <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                   <div class="_lk_bg_cd">
                       <i class="fal fa-registered"></i>
                     <div class="counting" data-count="967">100</div>
                     <h5>REGISTERED STUDENTS</h5>
                   </div>
               </div>
             </div>
         </div>
     </section>

     <!-- ====================== Team Started started====================== -->

     <section class="team">
         <div class="container">
             <div class="row">
               <div class="col-12">
                   <div class="heading">
                       <h2>OUR TEAM</h2>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam quo, ducimus aliquid quisquam minima perspiciatis repellendus, minus tenetur reiciendis quis? Consequatur perferendis deleniti, rerum delectus consectetur modi praesentium deserunt.</p>
                   </div>
               </div>

               <div class="col-12">
                   <div class="owl-carousel owl-stage-outer">
                       <div class="item">
                           <div class="team-card">
                               <div class="image-team">
                                   <img src="assets/images/team/1.jpg">
                               </div>
                               <div class="team-content">
                                   <h3>John</h3>
                                   <p>Web Developer</p>
                                   <ol>
                                       <li><i class="fab fa-facebook-f"></i></li>
                                       <li><i class="fab fa-instagram"></i></li>
                                       <li><i class="fab fa-linkedin-in"></i></li>
                                       <li><i class="fab fa-pinterest-p"></i></li>
                                   </ol>
                               </div>
                           </div>
                       </div>

                       <div class="item">
                           <div class="team-card">
                               <div class="image-team">
                                   <img src="assets/images/team/2.jpg">
                               </div>
                               <div class="team-content">
                                   <h3>Anderson john</h3>
                                   <p>Web Designer</p>
                                   <ol>
                                       <li><i class="fab fa-facebook-f"></i></li>
                                       <li><i class="fab fa-instagram"></i></li>
                                       <li><i class="fab fa-linkedin-in"></i></li>
                                       <li><i class="fab fa-pinterest-p"></i></li>
                                   </ol>
                               </div>
                           </div>
                       </div>

                       <div class="item">
                           <div class="team-card">
                               <div class="image-team">
                                   <img src="assets/images/team/3.jpg">
                               </div>
                               <div class="team-content">
                                   <h3>Sarah Se</h3>
                                   <p>Web Designer</p>
                                   <ol>
                                       <li><i class="fab fa-facebook-f"></i></li>
                                       <li><i class="fab fa-instagram"></i></li>
                                       <li><i class="fab fa-linkedin-in"></i></li>
                                       <li><i class="fab fa-pinterest-p"></i></li>
                                   </ol>
                               </div>
                           </div>
                       </div>

                       <div class="item">
                           <div class="team-card">
                               <div class="image-team">
                                   <img src="assets/images/team/4.jpg">
                               </div>
                               <div class="team-content">
                                   <h3>Williams</h3>
                                   <p>English </p>
                                   <ol>
                                       <li><i class="fab fa-facebook-f"></i></li>
                                       <li><i class="fab fa-instagram"></i></li>
                                       <li><i class="fab fa-linkedin-in"></i></li>
                                       <li><i class="fab fa-pinterest-p"></i></li>
                                   </ol>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
             </div>
         </div>
     </section>

   <!-- ====================== Footer Section started====================== -->

   <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="_kl_de_w">
                    <h3>SMART GROUP</h3>
                    <p>ipsum dolor sit amet, Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="_kl_de_w">
                    <h3>Quick Links</h3>
                    <ol>
                        <li><i class="far fa-angle-right"></i>home</li>
                        <li><i class="far fa-angle-right"></i>About Us</li>
                        <li><i class="far fa-angle-right"></i>Services</li>
                        <li><i class="far fa-angle-right"></i>Blog</li>
                        <li class="last"><i class="far fa-angle-right"></i>Contact Us</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="_kl_de_w">
                    <h3>Courses</h3>
                    <ol>
                        <li><i class="far fa-angle-right"></i>MBA</li>
                        <li><i class="far fa-angle-right"></i>ME</li>
                        <li><i class="far fa-angle-right"></i>BE</li>
                        <li><i class="far fa-angle-right"></i>MBBS</li>
                        <li class="last"><i class="far fa-angle-right"></i>MA</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="_kl_de_w">
                    <h3>Contact Us</h3>
                    <form class="my-form">
                        <div class="form-group">
                           <input class="form-control" type="emal" name="email" placeholder="Email"> 
                        </div>
                        <div class="form-group">
                            <textarea rows="3" placeholder="Message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <a href="#">Submit</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12">
                <div class="copy-right">
                    <p>© 2020 All Rights Reserved by<a href="https://www.smarteyeapps.com/">Smarteyeapps.com</a></p>
                </div>
            </div>
        </div>
    </div>
   </footer>

</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/script.js"></script>
</html>